html {
    box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before,  /* All ::before pseudo-elements */
*::after {  /* All ::after pseudo-elements */
            /* height & width will now include border & padding by default but can be over-ridden as needed */
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: gray;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width:700px;
    height:700px;
    border: 3px solid yellow;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
}

#outcome {
    border: 3px solid purple;
}

.game-box {
    width: 200px;
    height:200px;
    border: 3px solid blue;
    background-color: grey;
}

.p1-box {
    background-color: red;
}

.p2-box {
    background-color: green;
}

/*
.game-board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/