html {
    box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before,  /* All ::before pseudo-elements */
*::after {  /* All ::after pseudo-elements */
            /* height & width will now include border & padding by default but can be over-ridden as needed */
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #343a40;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width:700px;
    border: 3px solid yellow;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'grid-box-1 | grid-box-2 | grid-box-3'
        'grid-box-4 | grid-box-5 | grid-box-6'
        'grid-box-7 | grid-box-8 | grid-box-9';
    gap: 5px;
    min-height: 700px;
}

#outcome {
    border: 3px solid purple;
    height: 50px;
}

.game-box {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    font-size: 125px;
    width: 215px;
    height:215px;
    border-radius: 10%;
    background-color: #ced4da;
}

.p1-box {
    background-color: red;
}

.p2-box {
    background-color: green;
}

/*
.game-board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/